<%- include('./templates/head.ejs') %>
<link rel="stylesheet" href="/css/client/post.css">

</head>

<body>
    <%- include('./templates/nav-bar.ejs') %>
    <main>
        <div class="title">
            <h1><%= post.title %></h1>
            <p class="subtitle"><%= post.subtitle %></p>
            <div class="user-post">
                <img src='<%= user.photoUrl %>'>
                <div class="details">
                    <p class='user-name'><%= user.name %></p>
                    <p><%= createdAt %></p>
                </div>
            </div>
            <hr>
        </div>
        <div class="post">
            <p><%= post.firstParagraph %></p>

            <img src="<%= post.imageUrl %>" alt="">
            <p><%= post.post %> </p>
            
    
            <div class="tags-container">
                <hr>
                <h2>Tags</h2>
                <div class="tags">
                <% tagArr.forEach((cur, i) => { %> 
                    <div>
                        <p><%= cur %></p>
                    </div>
                <% }) %> 
                </div>
            </div>
        </div>
        <div class="top-posts">
            <img src="https://i.imgur.com/Ls4jvyl.png" alt="ad">
        </div>
    </main>

       
    <%- include('./templates/footer.ejs') %>

</body>



</html>